<div id="profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="space-between end">
        <div class="user-info" layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="start center">
            <img class="profile-image avatar huge" src="./assets/images/backgrounds/logoFundacionBecaBlanco.png">

            <div class="name">¡Bienvenido(a) a Fundación Beca!</div>
        </div>

        <!-- <div class="actions" layout="row" layout-align="end center">
            <md-button class="md-raised md-accent" aria-label="Follow" translate="PROFILE.FOLLOW"
                       translate-attr-aria-label="PROFILE.FOLLOW">Follow
            </md-button>
            <md-button class="md-raised md-primary" translate="PROFILE.SEND_MESSAGE"
                       translate-attr-aria-label="PROFILE.SEND_MESSAGE">Send Message
            </md-button>
        </div> -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" flex>

        <md-tabs md-dynamic-height>
            <md-tab>
                <md-tab-label>
                    <span>Inicio</span>
                </md-tab-label>
                <md-tab-body>
                    <div layout="row" layout-wrap>

                        <div class="about" layout="column" flex="100" flex-gt-sm="100" flex-gt-md="100">
                            <div class="profile-box info-box general md-whiteframe-1dp" layout="column">
                                <header style=" background-color:#781f23; color: white;">
                                    <div class="title">SOLICITUDES CON DOCUMENTOS COMPLETAMENTE CARGADOS</div>
                                </header>
                                <div class="content fullpage-datatable" layout="column" flex>

                                    <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance"
                                        dt-options="vm.dtOptions">
                                        <thead>
                                            <tr>
                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title">-</span>
                                                    </div>
                                                </th>
                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title">Aspirante</span>
                                                    </div>
                                                </th>

                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title">Programa</span>
                                                    </div>
                                                </th>
                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title">Clasificación</span>
                                                    </div>
                                                </th>
                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title">Universidad</span>
                                                    </div>
                                                </th>
                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title">D. Subidos</span>
                                                    </div>
                                                </th>
                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title">D. Validados</span>
                                                    </div>
                                                </th>
                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title">Solicitud</span>
                                                    </div>
                                                </th>
                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title">Estatus</span>
                                                    </div>
                                                </th>

                                                <th class="secondary-text">
                                                    <div class="table-header">
                                                        <span class="column-title">ACCIONES</span>
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="solicitud in solicitudes">
                                                <td>
                                                    <span ng-show="solicitud.RejectedDocs>0"><md-icon md-font-icon="icon-close_circle" style="color:red;" class="s16 ng-scope md-default-theme md-font material-icons icon-label" role="img" aria-label="icon-label"></md-icon></span>
                                                    <span ng-show="solicitud.ValidatedDocs==0"><md-icon md-font-icon="icon-close_circle" style="color:gray;" class="s16 ng-scope md-default-theme md-font material-icons icon-label" role="img" aria-label="icon-label"></md-icon></span>
                                                    <span ng-show="solicitud.ValidatedDocs<solicitud.RequiredDocs && solicitud.ValidatedDocs>0"><md-icon md-font-icon="icon-close_circle" style="color:yellow;" class="s16 ng-scope md-default-theme md-font material-icons icon-label" role="img" aria-label="icon-label"></md-icon></span>
                                                    <span ng-show="solicitud.ValidatedDocs==solicitud.RequiredDocs"><md-icon md-font-icon="icon-close_circle" style="color:darkgreen;" class="s16 ng-scope md-default-theme md-font material-icons icon-label" role="img" aria-label="icon-label"></md-icon></span>
                                                </td>
                                                <td>{{solicitud.Person_Name}} {{solicitud.Person_lastName}}
                                                    {{solicitud.Person_mLastName}}</td>
                                                <td>{{solicitud.Program_Name_1}}</td>
                                                <td>{{solicitud.Classification_Name}}</td>
                                                <td class="text-center">{{solicitud.Program1_University_Name}}</td>
                                                <td class="text-center">{{solicitud.UploadedDocs}} / {{solicitud.RequiredDocs}}</td>
                                                <td class="text-center">{{solicitud.ValidatedDocs}}</td>
                                                <td>{{solicitud.created_at.split(' ')[0]}}</td>
                                                <td>
                                                    {{solicitud.status === "0" ? "CREADA" : ''}} {{solicitud.status ===
                                                    "1" ? "CANCELADA SIN DOCUMENTOS" : ''}} {{solicitud.status
                                                    === "2" ? "CANCELADA POR SOLICITANTE" : ''}} {{solicitud.status ===
                                                    "3" ? "DOCUMENTOS
                                                    COMPLETOS" : ''}} {{solicitud.status === "4" ? "RECHAZAADA EN
                                                    ENTREVISTA" : ''}}
                                                    {{solicitud.status === "5" ? "CANALIZAR A ESTUDIA MAS" : ''}}
                                                    {{solicitud.status
                                                    === "6" ? "ENTREVISTA COMPLETA" : ''}} {{solicitud.status === "7" ?
                                                    "ASIGNADA
                                                    A SESIÓN DE COMITÉ" : ''}} {{solicitud.status === "8" ? "RECHAZADA
                                                    EN COMITÉ"
                                                    : ''}} {{solicitud.status === "9" ? "APLAZADA EN COMITÉ" : ''}}
                                                    {{solicitud.status
                                                    === "10" ? "ACEPTADA EN COMITÉ" : ''}} {{solicitud.status === "11"
                                                    ? "ACEPTADA
                                                    Y EXPORTADA" : ''}} {{solicitud.status === "12" ? "DOCOMENTOS
                                                    COMPLETOS A ORIENTACION
                                                    VOCACIONAL" : ''}} {{solicitud.status === "13" ? "CANALIZADO A OTRO
                                                    PROGRAMA
                                                    EN ORIENTACION VOCACIONAL" : ''}} {{solicitud.status === "14" ?
                                                    "RECHAZADA EN
                                                    ORIENTACION VOCACIONAL" : ''}} {{solicitud.status === "15" ?
                                                    "DOCUMENTOS DE ACEPTACION
                                                    VALIDADOS" : ''}}
                                                </td>
                                                <td>

                                                    <md-button style="background-color:#FFF;" class="md-fab md-mini md-primary md-hue-3" ng-click="validarDocumentos(solicitud)">
                                                        <md-tooltip md-direction="top">Ver Documentación</md-tooltip>
                                                        <md-icon md-font-icon="icon-close_circle" style="color:#844648;" class="s16 ng-scope md-default-theme md-font material-icons icon-document" role="img" aria-label="icon-document"></md-icon>
                                                    </md-button>

                                                    <md-button style="background-color:#FFF;" class="md-fab md-mini md-primary md-hue-3" ng-click="verDetalle(event,solicitud)">
                                                        <md-tooltip md-direction="top">Ver detalle</md-tooltip>
                                                        <md-icon md-font-icon="icon-close_circle" style="color:#844648;" class="s16 ng-scope md-default-theme md-font material-icons icon-eye" role="img" aria-label="icon-eye"></md-icon>
                                                    </md-button>
                                                    <md-button style="background-color:#FFF;" class="md-fab md-mini md-primary md-hue-3" ng-click="dlgcancelarSolicitud(event,solicitud)" ng-hide = 'uType==7'>
                                                        <md-tooltip md-direction="top">Cancelar Solicitud</md-tooltip>
                                                        <md-icon md-font-icon="icon-close_circle" style="color:#844648;" class="s16 ng-scope md-default-theme md-font material-icons icon-close-circle" role="img" aria-label="icon-close-circle"></md-icon>
                                                    </md-button>



                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>


                    </div>
                </md-tab-body>
            </md-tab>

        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>