<div id="profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="space-between end">
        <div class="user-info" layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="start center">
            <img class="profile-image avatar huge" src="./assets/images/backgrounds/logoFundacionBecaBlanco.png">

            <div class="name">¡Bienvenido(a) a Fundación Beca!</div>
        </div>

        <!-- <div class="actions" layout="row" layout-align="end center">
            <md-button class="md-raised md-accent" aria-label="Follow" translate="PROFILE.FOLLOW"
                       translate-attr-aria-label="PROFILE.FOLLOW">Follow
            </md-button>
            <md-button class="md-raised md-primary" translate="PROFILE.SEND_MESSAGE"
                       translate-attr-aria-label="PROFILE.SEND_MESSAGE">Send Message
            </md-button>
        </div> -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" flex>

        <md-tabs md-dynamic-height>
            <md-tab>
                <md-tab-label>
                    <span>Inicio</span>
                </md-tab-label>
                <md-tab-body>
                    <div layout="row" layout-wrap>

                        <!-- <div class="about" layout="column" flex="100" flex-gt-sm="50" flex-gt-md="65">
                            <div class="profile-box info-box general md-whiteframe-1dp" layout="column">
                                <header class="md-accent-bg">
                                    <div class="title">PROGRAMA ACTIVO</div>
                                </header>

                                <div class="content" ng-repeat="solicitud in solicitudes">
                                    <div class="info-line">
                                        <div class="title">Nombre del programa</div>
                                        <div class="info">{{solicitud.Program_Name_1}}</div>
                                    </div>

                                    <div class="info-line">
                                        <div class="title">Clasificación</div>
                                        <div class="info">{{solicitud.Classification_Name}}</div>
                                    </div>

                                    <div class="info-line">
                                        <div class="title">Estatus de la solicitud</div>
                                        <div class="info">{{solicitud.status === "0" ? "Creada" : ''}}</div>
                                    </div>

                                    <div class="info-line">
                                        <div class="title">Acciones</div>
                                        <div class="info">
                                            <md-button class="md-raised md-background" ng-click="vm.verDocumentos(solicitud)">
                                                <span>Ver documentos</span>
                                            </md-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> --> 
                    </div>
                </md-tab-body>
            </md-tab>
             
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>