s <md-dialog style="width: 40%">

    <div id="contenidoModal" name="contenidoModal">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Sesión de Comité</h2>
            </div>
        </md-toolbar>

        <md-content layout-padding>
            <form name="dataForm" novalidate>

                <md-input-container flex="100">
                    <label>Título de la sesión de comite</label>
                    <input style="width: 417px;" required md-no-asterisk name="name" ng-model="data.name">
                    <div ng-messages="data.coin_name.$error">
                        <div ng-message="required">Este campo es requerido.</div>
                    </div>
                </md-input-container>

              
                <md-input-container flex="100">
                    <md-select ng-model="clasificacion.modelo" placeholder="Clasificación" class="md-no-underline" flex="100">
                        <md-option value="0">- -SELECCIONA -</md-option>
                        <md-option ng-repeat="pais in clasificacion.opciones" value="{{pais.id}}">{{pais.Program_Classification}}</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex="100">
                    <label>Fecha:</label>
                    <md-datepicker id="fechaIni" ng-model="data.date"></md-datepicker>
                    <div ng-messages="dataProgram.date.$error">
                        <div ng-message="required">Este campo es requerido.</div>
                    </div>
                </md-input-container>


                <md-dialog-actions class="footerModal">
                    <md-button ng-disabled="vm.data" ng-click="enviarInformacion()">Guardar</md-button>
                    <md-button class="btnRojo" ng-click="closeDialog()">Cerrar</md-button>
                </md-dialog-actions>
            </form>
        </md-content>

    </div>
</md-dialog>