<div class="page-layout carded fullwidth single-scroll" layout="row">

    <!-- TOP BACKGROUND -->
    <div  style="background-color:#88080f;" class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" flex>

        <!-- CONTENT HEADER -->
        <div class="header">
            <div class="white-fg" layout="column" layout-align="start start">
                <div class="h1" layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-account-circle"></md-icon>
                    <span>Universidades</span>
                </div>
                <div>
                    <md-button ng-click="downloadFile()" style="background-color:white;" class="md-fab md-primary md-hue-2" aria-label="Profile">
                        <md-tooltip>Exportar Contenido</md-tooltip>
                        <md-icon style="color: #844648;font-size: 26px;" class="icon-file-excel"></md-icon>
                    </md-button>
                </div>
                <div class="product-count secondary-text">
                    <span>Total Escuelas:</span>
                    <span>{{universidad.length}}</span>
                </div>

            </div>
        </div>

            <div>
                <md-button class="md-raised md-background" ng-click="vm.agregarUniversidad()" ng-hide = 'uType==7'>
                    <span>Agregar</span>
                </md-button>
            </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="start center">
              
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <md-content class="content" ms-scroll>

                <table class="dataTable row-border hover" datatable="ng" dt-instance="vm.dtInstance" dt-options="vm.dtOptions">
                    <thead>
                    <tr>
                        <!--<th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">ID</span>
                            </div>
                        </th>-->
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Nombre</span>
                            </div>
                        </th>
                        <!--th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Sitio Web</span>
                            </div>
                        </th-->

                        <!--th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Contacto</span>
                            </div>
                        </th-->

                        <!--th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Teléfono</span>
                            </div>
                        </th-->
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Url Programas</span>
                            </div>
                        </th>

                        <!--th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Correo</span>
                            </div>
                        </th-->
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Acciones</span>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody> 
                    <tr ng-repeat="uni in universidad">
                        <!--<td>{{usuario.id}}</td>-->
                        <td>
                            <strong>Nombre:</strong> {{uni.name}}<br>
                            <strong>Contacto:</strong>{{getGeneralContactName(uni.contact_email)}}<br>
                            <strong>Email:</strong>{{getGeneralContactEmail(uni.contact_email)}}
                        </td>
                        <!--td><a class="icon-web" ng-click="vm.irSitioWeb(uni.website)" target="_blank">Ver sitio</a></td-->
                        <!--td>{{getGeneralContactName(uni.contact_email)}}</td-->
                        <!--td>{{uni.phone}}</td-->
                        <td>{{uni.leads ? urlCompartir + uni.leads : ''}}</td>
                        <!--td>{{getGeneralContactEmail(uni.contact_email)}}</td-->
                        <td>
                            <md-button class="edit-button md-icon-button" ng-click="vm.editarUniversidad(event,uni)"
                                        aria-label="Product details" translate translate-attr-aria-label="EC.PRODUCT_DETAILS" ng-hide = 'uType==7'>
                                <md-icon md-font-icon="icon-pencil" class="s16"></md-icon>

                            </md-button>

                            <md-button class="edit-button md-icon-button" ng-click="vm.eliminarUniverisdad(uni.id)" aria-label="Product details"
                                       translate translate-attr-aria-label="EC.PRODUCT_DETAILS" ng-hide = 'uType==7'>
                                <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                            </md-button>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </md-content>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>