 <md-dialog style="width: 30%">

     <div id="contenidoModal" name="contenidoModal">
         <md-toolbar>
             <div class="md-toolbar-tools">
                 <h2>Registro de Clasificación del programa</h2>
             </div>
         </md-toolbar>

         <md-content layout-padding>
             <form name="data" novalidate>

                     <md-input-container flex="100">
                         <label>Descripción de la clasificacion del programa</label>
                         <input style="width: 417px;" required md-no-asterisk name="name" ng-model="dataClasificacion.Program_Classification">
                         <div ng-messages="dataClasificacion.Program_Classification.$error">
                             <div ng-message="required">Este campo es requerido.</div>
                         </div>
                     </md-input-container>

                 <md-dialog-actions class="footerModal">
                     <md-button ng-disabled="vm.dataClasificacion" ng-click="enviarInformacion()">Guardar</md-button>
                     <md-button class="btnRojo" ng-click="closeDialog()">Cerrar</md-button>
                 </md-dialog-actions>
             </form>
         </md-content>

     </div>
 </md-dialog>