<md-dialog aria-label="Finalizar Entrevista" style="width: 50%;">
    <form ng-cloak>
        <md-toolbar style="background-color: #781f23 !important;">
            <div class="md-toolbar-tools">
                <h2>Canalización de Entrevista</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-content ng-controller="EntrevistaFechaController as vm" ng-cloak>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <h3><strong>Calificación de la Entrevista:</strong> {{entrevista.text_Score}}</h3>
                            <h3><strong>Resultado Recomendado:</strong> {{recomendacion}}</h3>
                        <!--/md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm-->
                            <h2>Resultado de la Entrevista</h2>
                            <md-radio-group ng-model="estatusSolicitud" layout="row">
                                <md-radio-button ng-value="7" class="md-primary">Aceptada</md-radio-button>
                                <md-radio-button ng-value="23">Rechazada</md-radio-button>
                                <md-radio-button ng-value="24">Cancelada</md-radio-button>
                            </md-radio-group>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                        <h3>Canalización a otro programa</h3>
                        <md-input-container style="width: 100% !important;">
                            <md-select ng-model="canalize_aux" style="color: #000 !important;">
                                <!--md-option value="0">- NINGUNO</md-option-->
                                <md-option ng-repeat="rows in array_programs" value="{{rows}}">
                                    {{rows.name}}
                                </md-option>
                            </md-select>
                            <md-button class="md-raised md-primary" ng-click="agregarCanalizacion(canalize_aux)">AGREGAR</md-button>
                        </md-input-container>
                    </div>
                    <div layout-gt-sm="row" ng-repeat="can_to_arr in canalize_to_array">
                        <h3>Canalizar a:</h3>
                        <md-input-container style="width: 100% !important;">
                            <span>
                                {{can_to_arr.name}}
                            </span>
                            <md-button style="background-color:#FFF;" class="md-icon-button" ng-click="eliminarCanalizacion(can_to_arr)">
                                <md-tooltip md-direction="top">Eliminar</md-tooltip>
                                <md-icon md-font-icon="icon-close_circle" style="color:#844648;" class="s16 ng-scope md-default-theme md-font material-icons icon-close-circle" role="img" aria-label="icon-close-circle"></md-icon>
                            </md-button>
                        </md-input-container>
                    </div>

                    <div style="display: flex !important; margin-top: 10px !important;">
                        <md-button class="md-raised" ng-click="respuestaFinalizarEntrevista(false, estatusSolicitud)" style="padding: 0px 20px !important;">
                            CANCELAR
                        </md-button>
                        <!--div ng-show="canalize_to != null"-->

                        <md-button ng-click="respuestaFinalizarEntrevista(true, estatusSolicitud)" style="background-color:#781f23; color: white; padding: 0px 20px !important;">
                            FINALIZAR
                        </md-button>
                        
                    </div>

                </md-content>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>