<md-dialog aria-label="Nuevo Programa" style="width: 50%;">
    <form ng-cloak>
        <md-toolbar style="background-color: #781f23 !important;">
            <div class="md-toolbar-tools">
                <h2>MODIFICAR PROGRAMA</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-content ng-controller="ProgramasCanalizacionController as vm" ng-cloak>
                    <div layout="row">
                        <md-input-container>
                            <label>Nombre Institución</label>
                            <input type="text" id="nombreinstitucion" ng-model="programa.nombreinstitucion" required>
                        </md-input-container>
                        <md-input-container>
                            <label>Nombre Contacto</label>
                            <input type="text" id="nombrecontacto" ng-model="programa.nombrecontacto" required>
                        </md-input-container>
                        <md-input-container>
                            <label>Email Contacto</label>
                            <input id="emailcontacto" ng-model="programa.emailcontacto" required ng-pattern="/^.+@.+\..+$/">
                        </md-input-container>
                    </div>
                </md-content>
            </div>
        </md-dialog-content>

        <input type="text" id="id_institucion" ng-model="programa.id_institucion" style="display: none;" required>

        <md-dialog-actions layout="row">
            <div ng-show="programa.nombreinstitucion == null || programa.nombrecontacto == null || programa.emailcontacto == null">
                (Debes llenar todos los campos)*
            </div>
            <div ng-show="programa.nombreinstitucion != null && programa.nombrecontacto != null && programa.emailcontacto != null">
                <md-button ng-click="respuestaProgramaActualizar(true)" style="background-color:#781f23; color: white; padding: 0px 20px !important;">
                    GUARDAR
                </md-button>
            </div>
            <md-button class="md-raised" ng-click="respuestaProgramaActualizar(false)" style="padding: 0px 20px !important;">
                CANCELAR
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>