#profile {

    .header {
        height: 138px;
        min-height: 134px;
        max-height: 320px;
        background-color:#88080f;
        //background: url('../../../assets/images/backgrounds/header-bg.png') no-repeat 0 45%;
        background-size: 100% auto;

        .profile-image {
            margin-right: 24px;
        }

        .name {
            font-size: 34px;
            color: #FFFFFF;
        }

        .actions {

            .md-button {
                text-transform: none;
                padding: 0 16px;
                height: 32px;
                line-height: 32px;
                margin: 0 0 0 8px;
            }
        }
    }

    .avatar {
        width: 100px;
        min-width: 40px;
        height: 90px;
        line-height: 40px;
        margin: 0 8px 0 0;
        border-radius: 9%;
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        color: #FFFFFF;
    }

    .content {

        md-content {
            background-color: transparent;
        }
    }

    textarea {
        font-size: 13px;
        width: 100%;
        height: 140px;
        border: none;
        padding: 16px;
        resize: vertical;
    }

    // Profile boxes
    .profile-box {
        margin-bottom: 16px;

        header {
            padding: 16px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
            background-color: #FFF;
        }

        footer {
            padding: 8px;
            border-top: 1px solid rgba(0, 0, 0, 0.08);
            background-color: rgba(0, 0, 0, 0.06);
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 500;
                    padding-bottom: 4px;
                }

                .info {

                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .timeline-tab {
        max-width: 1200px;

        .timeline {
            padding: 8px;

            .add-post {
                margin-bottom: 0;

               

                footer {
                    background: #F3F4F5;

                    .post-button {
                        margin: 0;
                        width: 64px;
                        min-width: 64px;
                        height: 30px;
                        line-height: 30px;
                        min-height: 30px;
                    }
                }
            }

            md-divider {
                margin: 32px 0;
            }

            .timeline-item {
                margin-bottom: 32px;
                overflow: hidden;
                border-radius: 2px;
                background: #FFFFFF;

                &:last-child {
                    margin-bottom: 0;
                }

                header {
                    padding: 16px 0 8px 16px;

                    .title {
                        font-weight: 500;

                        .username {
                            margin-right: 4px;
                        }
                    }

                    .time {
                        color: rgba(0, 0, 0, 0.54);
                    }
                }

                .content {

                    .message {
                        padding: 8px 16px;
                    }

                    .media {
                        padding: 16px 8px;

                        img, iframe {
                            width: 100%;
                        }

                        a {
                            color: inherit;
                        }
                    }

                    .like-button,
                    .share-button {
                        padding: 4px 6px;
                        text-transform: inherit;
                        font-size: 13px;
                        font-weight: normal;
                        margin: 0 0 16px 8px;
                        min-width: inherit;
                        line-height: inherit;

                        &:hover {
                            background-color: transparent;
                        }

                        md-icon {
                            margin: 0 8px 0 0;
                        }
                    }

                    .article {
                        border: 1px solid rgba(0, 0, 0, 0.12);
                        margin: 8px;

                        .media {
                            padding: 0;
                            overflow: hidden;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.12);

                            img {
                                display: block;
                                padding: 0;
                            }

                        }

                        .title {
                            font-size: 15px;
                            padding: 16px 16px 4px 16px;
                        }

                        .subtitle {
                            padding: 0 16px;
                            color: rgba(0, 0, 0, 0.54);
                        }

                        .excerpt {
                            padding: 16px 16px;
                        }
                    }
                }

                footer {
                    border-top: 1px solid rgba(0, 0, 0, 0.08);
                    background-color: rgba(0, 0, 0, 0.04);
                    padding: 16px;

                    .comment-count {
                        margin-bottom: 16px;
                        cursor: pointer;

                        md-icon {
                            margin-left: 8px;
                        }
                    }

                    .comment {
                        margin-bottom: 24px;

                        .username {
                            font-weight: 500;
                            margin-right: 4px;
                        }

                        .message {
                            color: rgba(0, 0, 0, 0.87);
                        }

                        .time {
                            color: rgba(0, 0, 0, 0.54);
                        }

                        .actions {
                            margin-top: 8px;

                            .reply-button {
                                margin-right: 16px;
                                cursor: pointer;
                            }

                            .report-button {
                                margin: 0;
                                cursor: pointer;
                            }
                        }
                    }

                    .reply {

                        form {

                            textarea {
                                width: 100% !important;
                                min-height: 72px;
                                padding: 8px;
                                margin-bottom: 8px;
                                font-size: 13px;
                                border: 1px solid rgba(0, 0, 0, 0.12);
                            }

                            .post-comment-button {
                                margin: 0;
                                text-transform: inherit;
                                font-weight: normal;
                                padding: 0 12px;
                                min-height: 30px;
                                min-width: inherit;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }
        }
 
    }
}


// RESPONSIVE
@media screen and (max-width: $layout-breakpoint-sm) {

    #profile {

        .header {

            .profile-image {
                margin: 0 0 16px 0;
            }

            .name {
                margin-bottom: 32px;
            }
        }
    }

}

#chat-app {
    height: 100% !important;

    .center {
        padding: 32px 32px 0 32px;
        max-width: 1400px;
        height: 100%;
        margin: 0 auto;

        .content-card {
            position: relative;
            background: url('/assets/images/patterns/rain-grey.png') repeat;
            height: 100%;

            .chat {
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.6) 20%, rgba(255, 255, 255, 0.8));

                .chat-toolbar {
                    min-height: 64px;
                    background-color: #F3F4F5;
                    color: rgba(0, 0, 0, 0.87);
                    border-bottom: 1px solid rgba(0, 0, 0, .08);

                    md-icon {
                        color: rgba(0, 0, 0, 0.87);
                    }

                    .responsive-chats-button {
                        padding: 0;
                    }

                    .chat-contact {
                        cursor: pointer;

                        .avatar {
                            margin-right: 16px;
                        }

                        .chat-contact-name {

                        }
                    }
                }

                #chat-content {
                    background: transparent;

                    .message-row {

                        .bubble {
                            position: relative;
                            padding: 6px 7px 8px 9px;
                            background-color: #FFF;
                            box-shadow: 0 1px .5px rgba(0, 0, 0, .13);
                            border-radius: 6px;

                            &:before {
                                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAADGUExURQAAAP////b29vn5+f///wAAAP///wAAAAAAAP///9ra2v////j4+PHx8fv7++Hh4fHx8f////////////////39/QAAAP////////z8/P////39/f39/fz8/P////////////z8/P////////////z8/P////////////v7+/Hx8f///9bW1vz8/K2trf////39/f39/WJiYgAAAExMTFtbWwAAAN3d3cjIyPr6+vX19QAAAO7u7vz8/NTU1Ofn5zMzM////zGPlXsAAABBdFJOUwAcm/kREh4CCDWL1SneR6TfAQffhMYK/A5nRrLWfRc5DW2ih5f+19Kn+9v4g/1LCJuXHwQUKgahcXS6DNnlDMMKKzPoTgAAAKBJREFUKM+V08USwmAQA+C/0NIWd3d3d8/7vxTMcIPkQK7f7CG7s8bQAOY/SCuwFYQU1P+eiCqIK2gpWCmoCrAgoKQgJ8CHgIqAMjg0MxxSQ3DogEMWFBZtUPAHYGB1CyDQWE6AH7BrfXzlAxGAQhECTGAmwN1Okz0Gb/LW4fEItIfrOfNELMh3tck7u+PhcT2zQ7l77/K8iY8yJwV3BeYFqpc/uSyPGdAAAAAASUVORK5CYII=);
                                content: '';
                                position: absolute;
                                left: -11px;
                                bottom: 3px;
                                width: 12px;
                                height: 19px;
                                background-position: 50% 50%;
                                background-repeat: no-repeat;
                                background-size: contain;
                            }

                            .message {
                                white-space: pre-wrap;
                            }

                            .time {
                                font-size: 11px;
                                margin-top: 8px;
                                text-align: right;
                            }
                        }

                        &.contact {

                            .avatar {
                                margin: 0 16px 0 0;
                            }
                        }

                        &.user {
                            align-items: flex-end;

                            .avatar {
                                order: 2;
                                margin: 0 0 0 16px;
                            }

                            .bubble {
                                margin-left: auto;
                                background-color: #E8F5E9;
                                border: 1px solid #DFEBE0;
                                order: 1;
                                &:before {
                                    right: -11px;
                                    left: auto;
                                    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAD2UExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGRsXAAAANzwzNPmxNrtyau5oIWRedDkwNntyczgwdfpyJ+/n97wzsLWtNjsytvwzczfvtPmxau6nNjqxtrtyio1KtzwzNjryAAAANzwzgAAANzwzK7Aor/Us9Lnw8vevAAAAMzevtbpxrvMrX+IdwAAAEROOi45Lr3MrZGjf9LoxX+MctnqydLkwhgYGMzfv9vuyQAAANzwzNvuy9zxy7vMu7XGqNvtzKKykwAAANruzKq6nLnMriQkGMXXuL3PsNjsySgzKAAAANLkw83fvd3vy9z4xtzwzRpFmIEAAABQdFJOUwAXChEGBAMBAgwhDvJ7k0YqMc0Zmwj6apf2kjU0+dkw/swh/CP9j2Wr2gndvaYeBRoxQg6gUPt/FaHJGdTj9A9k7XQLeE6iFcN12xkSt9r4NKizowAAAMFJREFUKM+V0sdywlAMBVDbMX7PQCihQ+iQ0HsJvfem/P/PwBIzugu0PXNnNNJVyPmhsIPhhoB2COwIGuLdhAcl3AhCBoBoHUC6BCBbA0C/EkBFB5D/FjxQwQYg1RI8UKINgDoSAPUlAPqUAMgfAEBfXsEDBV0+Hogi4Zhg4THj9YwHoqEBYOrgYTI3GVgMNn8r+Qq94k9yZNosW/3Hy9VuTjWfHkOX6367bGZUU7de66ieHZrO1OGg8Z1WTgYAFLgD5S1PCkzo1B0AAAAASUVORK5CYII=);
                                }
                            }
                        }
                    }
                }

                .chat-footer {
                    min-height: 64px;
                    max-height: 96px;
                    background-color: #F3F4F5;
                    color: rgba(0, 0, 0, 0.87);
                    border-top: 1px solid rgba(0, 0, 0, .08);
                    padding: 8px 8px 8px 16px;

                    .reply-form {

                        md-input-container {
                            margin: 0;
                            padding-right: 16px;

                            textarea {
                                overflow: auto;
                                max-height: 80px;
                                transition: height 200ms ease;
                                &.grow {
                                    height: 80px;
                                }
                            }

                            .md-errors-spacer {
                                display: none;
                            }
                        }

                        .md-button {
                            margin: 0;
                        }
                    }
                }
            }

            .start-point {
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.6) 20%, rgba(255, 255, 255, 0.8));

                .big-circle {
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.6) 20%, rgba(255, 255, 255, 0.8));
                    border-radius: 50%;
                    width: 300px;
                    height: 300px;
                    line-height: 300px;
                    text-align: center;
                }

                .app-title {
                    font-weight: 500;
                    font-size: 32px;
                    margin: 12px 0;
                }

                .secondary-text {
                    font-size: 16px;
                }
            }

            .sidenav {

                md-toolbar {
                    border-bottom: 1px solid rgba(0, 0, 0, .08);

                    .md-toolbar-tools {

                    }

                    .md-toolbar-tools-top {

                    }

                    .md-toolbar-tools-bottom {

                        .search {
                            height: 36px;
                            line-height: 36px;
                            padding: 8px;
                            background: #FFFFFF;
                            font-size: 13px;

                            .icon {
                                margin: 0;
                                color: rgba(0, 0, 0, 0.54);
                            }

                            input {
                                padding-left: 12px;
                                height: 36px;
                                color: rgba(0, 0, 0, 0.54);
                            }
                        }
                    }
                }

                md-list {
                    &.contact-list, &.chat-list {
                        position: relative;
                        transition: all 200ms ease-out;

                        md-list-item,
                        .subheader {
                            position: absolute;
                            right: 0;
                            left: 0;
                            width: 100%;
                            transition: transform 200ms ease-out;
                            background: #FFF;
                            will-change: transform;

                            &.ng-leave {
                                transform: translateY(0);
                                display: none;

                                &.ng-leave-active {
                                    transform: translateY(-100%);
                                }
                            }

                            &.ng-hide {
                                display: none;
                            }

                            &.ng-hide-add-active,
                            &.ng-hide-remove-active {
                                display: block;
                                transition-property: all;
                            }
                        }
                        .subheader {
                            padding-left: 16px;
                            font-size: 20px;
                            font-weight: 300;
                            height: 88px;
                            line-height: 88px;
                        }
                    }
                }

                .no-results-message {
                    position: absolute;
                    width: 100%;
                    height: 88px;
                    padding: 16px;
                    background: #FFFFFF;
                    font-size: 15px;
                    font-weight: 400;
                }
            }
        }
    }

    .avatar-wrapper {
        position: relative;

        .avatar {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .status {
        position: absolute;
        top: 28px;
        left: 28px;
        border-radius: 50%;

        &.online {
            color: #4CAF50;
            &:before {
                content: "\e709";
            }
        }

        &.do-not-disturb {
            color: #F44336;
            &:before {
                content: "\e912";
            }
        }

        &.away {
            background-color: #FFC107;
            color: #FFFFFF;
            &:before {
                content: "\e727";
            }
        }

        &.offline {
            color: #4CAF50;
            background-color: #FFFFFF;
            &:before {
                content: "\e704";
                //content: "\e705";
            }
        }
    }

    .editable-wrap {
        position: relative;

        .editable-controls {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;

            .editable-input {
                width: inherit;
                background-color: white;
                padding: 8px;
                border: 1px solid rgba(0, 0, 0, 0.12);
            }

            .editable-buttons {
                display: inherit;

                .md-button {
                    margin: 0;

                    &:first-of-type {
                        padding-right: 0;
                    }

                    .icon-cancel {
                        color: rgba(0, 0, 0, 0.32);
                    }
                }
            }
        }
    }

    .editable-click {
        cursor: pointer;
        text-decoration: none;
        color: inherit;
        border-bottom: none;
    }
}